
body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-size: $tSize1;
  height: 100%;
  background-color: $color1;
  color: $defaultTextColor;
  font-family: 'Titillium Web', sans-serif
}

html { font-size: 62.5%;height: 100%; }
#root{
  height: 100%;
}