@import "./variable.scss";
@import "./index.scss";
.spinnerLoader{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.3)
}
.txtBold{
    font-weight: bold
}

.button{
    background-color: $colorBtn;
    color:$colorBtnText;
    padding:10px;
    text-align: center;
}
.button--active{
    cursor: pointer;
}
.button--inactive{
    opacity: 0.5;
    cursor: default;
}

.input{
    width:100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    color:$defaultTextColor;
    border-radius:0;
    background-color: transparent;
    
}
.input--bottomBorder{
    border: 0px;
    border-bottom: 1px solid $color2;
}
.input--noBorder{
    border: 0px;
    //background-color: transparent;
}
.toDoTitle{
    @include truncate;
    font-size: $tSize5;
    padding: 10px;
    font-weight: 900;
    font-family: 'Chilanka', cursive
}

.loginContainer{
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginContainer__box{
    width: 50%;
    max-width: 500px;
    min-width: 320px;
    display: inline-block;
    background-color: rgba($color3,1);
    padding:20px;
    border-radius: 10px;
}

.header{
    position: sticky;
    width:100%;
    top:0px;
    // // height:$headerHeight;
    // background-color: $color1;
    // display: flex;
    // flex-direction: column;
    // color: $color4;
    // justify-content: center;
}
.header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px
}
.header--add{
    position: sticky;
    top:0;
    background-color: $color3;
    padding-bottom: 5px;
    padding-top: 5px
}


.taskList{
    // padding-top:$headerHeight;
    flex:1;
    background-color: $color2;
    color: $defaultTextColor;
}
.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom:1px solid $color3;
}
.listItem__noRecord{
    padding: 5px;
    text-align: center;
}
.listItem__desc{
    @include truncate;
    flex:1;
    
}
.listItem__icons{
    // margin:5px;
    padding: 5px;

    height:30px !important;
    width:30px!important;
}
.listItem--lineThrough{
    text-decoration: line-through
}
.listItem--priority{
    color: red;
}
.listItem--completed{
    color: #47E4BB;
}