$theme : '';
$color1:#222831;
$color2:#393E46;
$color3:rgb(79, 86, 97);
$color4:#EEEEEE;
$defaultTextColor:#ffffff;
@if $theme == 'blue' {
    $color1:#112D4E;
    $color2:#3A72AF;
    $color3:#DBE2EF;
    $color4:#F9F7F7;
    $defaultTextColor:#000000;
} @else if $theme == 'red' {
    $color1:#240041;
    $color2:#900048;
    $color3:#ff4057;
    $color4:#ff8260;
    $defaultTextColor:#FFFFFF;
} @else if $theme == 'green' {
    $color1:#36622b;
    $color2:#729d39;
    $color3:#c6e337;
    $color4:#fbfad3;
    $defaultTextColor:#FFFFFF;
} 

$colorBtn:#00ADB5;
$colorBtnText:$defaultTextColor;
$iconColor:$defaultTextColor;
$tSize1:1.4rem;
$tSize2:1.6rem;
$tSize3:1.8rem;
$tSize4:2.4rem;
$tSize5:3.2rem;

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}